# Bag of Words 

**Bag of Words** seria uma 'Sacola de Palavras' em que:

Converte texto para uma matriz onde cada linha é uma **observação** e cada **característica** é uma palavra única. O valor de cada elemento na matriz é um indicador binário marcando a presença da determinada palavra ou um inteiro do número de vezes que aquela palavra aparece.

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import pandas as pd

### Criando Dados Textuais

In [12]:
text_data = np.array(['I love Brazil. Brazil!', 'Sweden is best', 'Germany beats both'])

### Criando uma Bag of Words

In [13]:
count = CountVectorizer()
bag_of_words = count.fit_transform(text_data)

bag_of_words.toarray()

array([[0, 0, 0, 2, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 0, 0]], dtype=int64)

### Exibir Cabeçalhos das Colunas da Matriz Bag of Words

In [14]:
# Obtendo os nomes das características
feature_names = count.get_feature_names()

# Visualizando nomes das características
feature_names

['beats', 'best', 'both', 'brazil', 'germany', 'is', 'love', 'sweden']

### Visualizando como um DataFrame

In [15]:
pd.DataFrame(bag_of_words.toarray(), columns=feature_names)

   beats  best  both  brazil  germany  is  love  sweden
0      0     0     0       2        0   0     1       0
1      0     1     0       0        0   1     0       1
2      1     0     1       0        1   0     0       0