## O MÃ©todo apply() em Series

In [1]:
import pandas as pd

bond = pd.read_csv('http://dadosdatascience.netlify.com/jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [2]:
def convert_to_string(number):
    return str(number) + " Millions"

bond['Box Office'].apply(convert_to_string)

Film
A View to a Kill                   275.2 Millions
Casino Royale                      581.5 Millions
Casino Royale                      315.0 Millions
Diamonds Are Forever               442.5 Millions
Die Another Day                    465.4 Millions
Dr. No                             448.8 Millions
For Your Eyes Only                 449.4 Millions
From Russia with Love              543.8 Millions
GoldenEye                          518.5 Millions
Goldfinger                         820.4 Millions
Licence to Kill                    250.9 Millions
Live and Let Die                   460.3 Millions
Moonraker                          535.0 Millions
Never Say Never Again              380.0 Millions
Octopussy                          373.8 Millions
On Her Majesty's Secret Service    291.5 Millions
Quantum of Solace                  514.2 Millions
Skyfall                            943.5 Millions
Spectre                            726.7 Millions
The Living Daylights               313.5 Millions
The Man with the Golden Gun        334.0 Millions
The Spy Who Loved Me               533.0 Millions
The World Is Not Enough            439.5 Millions
Thunderball                        848.1 Millions
Tomorrow Never Dies                463.2 Millions
You Only Live Twice                514.2 Millions
Name: Box Office, dtype: object

In [3]:
columns = ['Box Office', 'Budget', 'Bond Actor Salary']
for col in columns:
    bond[col] = bond[col].apply(convert_to_string)

In [4]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 Millions,54.5 Millions,9.1 Millions
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 Millions,145.3 Millions,3.3 Millions
Casino Royale,1967,David Niven,Ken Hughes,315.0 Millions,85.0 Millions,nan Millions
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 Millions,34.7 Millions,5.8 Millions
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 Millions,154.2 Millions,17.9 Millions

### O MÃ©todo apply() com Valores de Linhas

In [2]:
bond = pd.read_csv('http://dadosdatascience.netlify.com/jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [6]:
def good_movie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == 'Pierce Brosnan':
        return 'The Best'
    elif actor == 'Roger Moore' and budget > 40:
        return 'Enjoyable'
    else:
        return 'I have no clue'

bond.apply(good_movie, axis='columns')

Film
A View to a Kill                        Enjoyable
Casino Royale                      I have no clue
Casino Royale                      I have no clue
Diamonds Are Forever               I have no clue
Die Another Day                          The Best
Dr. No                             I have no clue
For Your Eyes Only                      Enjoyable
From Russia with Love              I have no clue
GoldenEye                                The Best
Goldfinger                         I have no clue
Licence to Kill                    I have no clue
Live and Let Die                   I have no clue
Moonraker                               Enjoyable
Never Say Never Again              I have no clue
Octopussy                               Enjoyable
On Her Majesty's Secret Service    I have no clue
Quantum of Solace                  I have no clue
Skyfall                            I have no clue
Spectre                            I have no clue
The Living Daylights               I have no clue
The Man with the Golden Gun        I have no clue
The Spy Who Loved Me                    Enjoyable
The World Is Not Enough                  The Best
Thunderball                        I have no clue
Tomorrow Never Dies                      The Best
You Only Live Twice                I have no clue
dtype: object

### O MÃ©todo copy()

In [3]:
bond = pd.read_csv('http://dadosdatascience.netlify.com/jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [8]:
directors = bond['Director']

In [9]:
directors.head()

Film
A View to a Kill        Mister John Glen
Casino Royale            Martin Campbell
Casino Royale                 Ken Hughes
Diamonds Are Forever        Guy Hamilton
Die Another Day             Lee Tamahori
Name: Director, dtype: object

In [10]:
bond.head(1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1

In [11]:
diretores = bond['Director'].copy() # Cria uma cÃ³pia isolada

In [12]:
diretores.head()

Film
A View to a Kill        Mister John Glen
Casino Royale            Martin Campbell
Casino Royale                 Ken Hughes
Diamonds Are Forever        Guy Hamilton
Die Another Day             Lee Tamahori
Name: Director, dtype: object

In [13]:
diretores['A View to a Kill'] = 'Mister John Glen'
diretores.head()

Film
A View to a Kill        Mister John Glen
Casino Royale            Martin Campbell
Casino Royale                 Ken Hughes
Diamonds Are Forever        Guy Hamilton
Die Another Day             Lee Tamahori
Name: Director, dtype: object