# Criando Dados Simulados para Regressão

In [1]:
import pandas as pd
from sklearn.datasets import make_regression

### Criando Dados Simulados

In [2]:
# Gerando características, output e um true coefficient de 100 amostras
features, output, coef = make_regression(n_samples = 100,
                                         # três características
                                         n_features = 3,
                                         # em que apenas duas caracterísitcas são úteis
                                         n_informative = 2,
                                         # um único valor alvo para observação
                                         n_targets = 1,
                                         # 0.0 desvio padrão do gaussian noise
                                         noise = 0.0,
                                         # mostra o true coefficient usado para gerar os daods
                                         coef = True)

### Visualizando os Dados Simulados

In [3]:
# Visualizando as características das primeira cinco linhas
pd.DataFrame(features, columns=['Store 1', 'Store 2', 'Store 3']).head()

    Store 1   Store 2   Store 3
0 -0.429432 -1.022598 -0.826532
1 -0.507433 -0.527945 -1.174254
2 -1.370512 -0.668062  0.589259
3 -0.148680  0.596259 -0.946996
4  0.089968 -0.194314  2.242773

In [4]:
# Visualizando o output das primeiras cinco linhas
pd.DataFrame(output, columns=['Sales']).head()

        Sales
0  -72.676773
1 -100.368911
2    4.729398
3  -73.627456
4  167.010393

In [5]:
# Visualizando os true coefficients usados para gerar os dados
pd.DataFrame(coef, columns=['True Coefficient Values'])

   True Coefficient Values
0                28.081928
1                 0.000000
2                73.339535