# Estatística Descritiva com Pandas

Vamos começar importando a biblioteca necessária para trabalharmos

In [1]:
import pandas as pd

### Carregando os Dados

Vamos armazenar a URL em que nossos dados estão disponíveis em uma **variável** chamada **url** e vamos carregá-los em um DataFrame chamado **dados**

In [8]:
url = 'https://dadosdatascience.netlify.com/worldstats.csv'
dados = pd.read_csv(url)

### Vejamos os Métodos e Atributos que temos disponíveis

In [9]:
print(dir(dados))

['GDP', 'Population', 'T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '__abs__', '__add__', '__and__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_box_col_values', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_combine_const', '_combine_frame', '_combine_match_columns', '_combine_match_index', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_create_indexer', '_cython_table', '_data', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_from_arrays', '_from_axes', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_space_character_free_column_resolvers', '_get_value', '_get_values', '_getitem_bool_array', '_getitem_frame', '_getitem_multilevel', '_gotitem', '_iget_item_cache', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_internal_get_values', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_join_compat', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_frame_compat', '_unpickle_matrix_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'as_matrix', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'axes', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'clip_lower', 'clip_upper', 'columns', 'combine', 'combine_first', 'compound', 'copy', 'corr', 'corrwith', 'count', 'country', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_values', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_msgpack', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sparse', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'values', 'var', 'where', 'xs', 'year']

## Visualizando os Dados

### Mostrando as 13 primeiras entradas

In [10]:
dados.head(13)

       country  year   Population           GDP
0   Arab World  2015  392022276.0  2.530102e+12
1   Arab World  2014  384222592.0  2.873600e+12
2   Arab World  2013  376504253.0  2.846994e+12
3   Arab World  2012  368802611.0  2.773270e+12
4   Arab World  2011  361031820.0  2.497945e+12
5   Arab World  2010  353112237.0  2.103825e+12
6   Arab World  2009  345054176.0  1.798878e+12
7   Arab World  2008  336886468.0  2.081343e+12
8   Arab World  2007  328766559.0  1.641666e+12
9   Arab World  2006  320906736.0  1.404190e+12
10  Arab World  2005  313430911.0  1.184735e+12
11  Arab World  2004  306387415.0  9.639180e+11
12  Arab World  2003  299731956.0  8.218702e+11

### Mostrando as 13 últimas entradas

In [11]:
dados.tail(13)

        country  year  Population           GDP
11198  Zimbabwe  1972   5573312.0  2.677729e+09
11199  Zimbabwe  1971   5385342.0  2.178716e+09
11200  Zimbabwe  1970   5206311.0  1.884206e+09
11201  Zimbabwe  1969   5036321.0  1.747999e+09
11202  Zimbabwe  1968   4874113.0  1.479600e+09
11203  Zimbabwe  1967   4718612.0  1.397002e+09
11204  Zimbabwe  1966   4568320.0  1.281750e+09
11205  Zimbabwe  1965   4422132.0  1.311436e+09
11206  Zimbabwe  1964   4279561.0  1.217138e+09
11207  Zimbabwe  1963   4140804.0  1.159512e+09
11208  Zimbabwe  1962   4006262.0  1.117602e+09
11209  Zimbabwe  1961   3876638.0  1.096647e+09
11210  Zimbabwe  1960   3752390.0  1.052990e+09

### Mostrando 13 amostras aleatórias

In [11]:
dados.sample(13)

,country,year,Population,GDP
8146,Nicaragua,1991,4236805.0,1.488804e+09
9105,Saudi Arabia,2015,31540372.0,6.460019e+11
10786,United States,1989,246819000.0,5.657693e+12
2142,Sub-Saharan Africa (IDA & IBRD countries),1976,342489556.0,1.424109e+11
5036,Finland,1988,4946481.0,1.091031e+11
9885,Suriname,2007,500953.0,2.936612e+09
5961,India,1990,870601776.0,3.266080e+11
3137,Bermuda,1999,61285.0,3.324433e+09
9206,Senegal,1962,3356421.0,8.574261e+08
4552,Djibouti,1989,558810.0,4.092201e+08
5913,Iceland,1982,233860.0,3.232804e+09
8064,New Caledonia,1967,96500.0,1.800368e+08
10073,Switzerland,1987,6545106.0,1.929816e+11

## Dimensões dos Dados

In [7]:
dados.shape

(11211, 4)

In [8]:
print(f'O conjunto de dados possui {dados.shape[0]} linhas e {dados.shape[1]} colunas')

O conjunto de dados possui 11211 linhas e 4 colunas

## Tipo de Dados para cada Atributo

In [9]:
dados.dtypes

country        object
year            int64
Population    float64
GDP           float64
dtype: object

## Estatística Descritiva

In [10]:
dados.describe()

               year    Population           GDP
count  11211.000000  1.121100e+04  1.121100e+04
mean    1990.467844  2.572914e+08  9.670532e+11
std       15.613780  7.519407e+08  4.372339e+12
min     1960.000000  9.004000e+03  0.000000e+00
25%     1978.000000  2.039392e+06  1.957910e+09
50%     1992.000000  8.917457e+06  1.412841e+10
75%     2004.000000  6.415968e+07  1.760763e+11
max     2015.000000  7.346633e+09  7.810634e+13

## Correlação entre atributos

In [74]:
dados.corr(method='pearson')

                year  Population       GDP
year        1.000000    0.038494  0.164374
Population  0.038494    1.000000  0.552270
GDP         0.164374    0.552270  1.000000