# Pandas

## Alterando Opções

Começamos importando as bibliotecas necessárias

In [4]:
import pandas as pd 
import numpy as np

Vamos gerar uma matriz de dados de números aleatórios entre 0 e 99 de 1000 linhas e 50 colunas

In [3]:
data = np.random.randint(0, 100, [1000, 50])

Visualizamos os dados

In [4]:
data

array([[83, 48, 59, ..., 37, 28, 94],
       [73, 57, 85, ..., 71, 10,  5],
       [29, 91, 58, ..., 99,  8, 87],
       ...,
       [17, 23, 42, ..., 13, 88, 63],
       [36, 46, 38, ..., 60, 85, 48],
       [ 5, 58, 89, ..., 92, 17, 84]])

Vamos agora converter os dados em um DataFrame

In [5]:
df = pd.DataFrame(data)

Verificamos o formato de nosso DataFrame e confirmamos que ele possui respectivamente 1000 linhas e 50 colunas

In [32]:
df.shape

(1000, 50)

Visualizamos as 12 primeiras entradas

In [8]:
df.head(12)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,83,48,59,64,19,37,43,71,29,93,...,91,80,85,49,9,89,47,37,28,94
1,73,57,85,42,47,53,74,27,50,6,...,89,44,90,80,35,75,87,71,10,5
2,29,91,58,2,23,21,88,24,16,42,...,5,85,39,0,68,94,52,99,8,87
3,97,95,64,52,78,44,10,44,9,96,...,68,34,47,98,85,9,67,84,10,2
4,40,73,84,17,90,43,58,61,38,45,...,44,90,17,64,31,45,59,69,31,73
5,30,87,57,87,85,26,37,89,65,83,...,72,2,7,6,6,19,57,65,5,5
6,59,7,38,51,77,26,79,47,80,32,...,92,34,84,69,45,51,19,29,28,26
7,57,48,40,28,37,66,27,53,98,81,...,92,1,46,83,20,36,70,48,57,67
8,76,82,32,30,70,50,13,89,3,0,...,62,89,69,3,57,15,70,35,13,87
9,36,66,13,43,60,45,2,36,43,56,...,9,91,60,51,8,47,82,4,49,67
10,68,7,7,25,63,0,95,90,50,48,...,71,89,96,69,71,32,53,77,6,92
11,46,26,39,48,25,33,19,90,24,3,...,87,73,35,96,52,40,55,6,92,43

Alteramos o padrão de máximo de linhas exibidas para 15

In [11]:
pd.options.display.max_rows = 15

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,83,48,59,64,19,37,43,71,29,93,...,91,80,85,49,9,89,47,37,28,94
1,73,57,85,42,47,53,74,27,50,6,...,89,44,90,80,35,75,87,71,10,5
2,29,91,58,2,23,21,88,24,16,42,...,5,85,39,0,68,94,52,99,8,87
3,97,95,64,52,78,44,10,44,9,96,...,68,34,47,98,85,9,67,84,10,2
4,40,73,84,17,90,43,58,61,38,45,...,44,90,17,64,31,45,59,69,31,73
5,30,87,57,87,85,26,37,89,65,83,...,72,2,7,6,6,19,57,65,5,5
6,59,7,38,51,77,26,79,47,80,32,...,92,34,84,69,45,51,19,29,28,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,12,83,21,76,27,0,66,46,69,26,...,48,4,3,29,34,82,71,43,11,75
994,34,89,66,80,91,78,62,70,77,22,...,44,64,74,38,99,1,67,42,92,11
995,87,75,19,1,18,69,86,15,21,74,...,14,59,54,9,31,0,37,7,87,90
996,64,35,81,14,11,24,52,26,82,41,...,61,4,62,19,71,81,74,61,59,17
997,17,23,42,53,31,67,17,80,0,17,...,16,42,58,42,40,94,11,13,88,63
998,36,46,38,98,93,49,46,33,29,69,...,46,69,44,78,74,62,21,60,85,48
999,5,58,89,22,79,80,72,56,21,39,...,66,21,53,89,52,11,9,92,17,84

Alteramos o padrão de máximo de colunas exibidas para 15

In [19]:
pd.options.display.max_columns = 15

In [20]:
df

     0   1   2   3   4   5   6  ...  43  44  45  46  47  48  49
0    83  48  59  64  19  37  43 ...  49   9  89  47  37  28  94
1    73  57  85  42  47  53  74 ...  80  35  75  87  71  10   5
2    29  91  58   2  23  21  88 ...   0  68  94  52  99   8  87
3    97  95  64  52  78  44  10 ...  98  85   9  67  84  10   2
4    40  73  84  17  90  43  58 ...  64  31  45  59  69  31  73
5    30  87  57  87  85  26  37 ...   6   6  19  57  65   5   5
6    59   7  38  51  77  26  79 ...  69  45  51  19  29  28  26
..   ..  ..  ..  ..  ..  ..  .. ...  ..  ..  ..  ..  ..  ..  ..
993  12  83  21  76  27   0  66 ...  29  34  82  71  43  11  75
994  34  89  66  80  91  78  62 ...  38  99   1  67  42  92  11
995  87  75  19   1  18  69  86 ...   9  31   0  37   7  87  90
996  64  35  81  14  11  24  52 ...  19  71  81  74  61  59  17
997  17  23  42  53  31  67  17 ...  42  40  94  11  13  88  63
998  36  46  38  98  93  49  46 ...  78  74  62  21  60  85  48
999   5  58  89  22  79  80  72 ...  89  52  11   9  92  17  84

[1000 rows x 50 columns]

Obtemos o valor atual do atributo max_rows

In [21]:
pd.get_option('max_rows')

15

Obtemos o valor atual do atributo max_columns

In [22]:
pd.get_option('max_columns')

15

Alteramos o valor de max_rows para 13

In [25]:
pd.set_option('max_rows', 13)

In [26]:
df

     0   1   2   3   4   5   6  ...  43  44  45  46  47  48  49
0    83  48  59  64  19  37  43 ...  49   9  89  47  37  28  94
1    73  57  85  42  47  53  74 ...  80  35  75  87  71  10   5
2    29  91  58   2  23  21  88 ...   0  68  94  52  99   8  87
3    97  95  64  52  78  44  10 ...  98  85   9  67  84  10   2
4    40  73  84  17  90  43  58 ...  64  31  45  59  69  31  73
5    30  87  57  87  85  26  37 ...   6   6  19  57  65   5   5
..   ..  ..  ..  ..  ..  ..  .. ...  ..  ..  ..  ..  ..  ..  ..
994  34  89  66  80  91  78  62 ...  38  99   1  67  42  92  11
995  87  75  19   1  18  69  86 ...   9  31   0  37   7  87  90
996  64  35  81  14  11  24  52 ...  19  71  81  74  61  59  17
997  17  23  42  53  31  67  17 ...  42  40  94  11  13  88  63
998  36  46  38  98  93  49  46 ...  78  74  62  21  60  85  48
999   5  58  89  22  79  80  72 ...  89  52  11   9  92  17  84

[1000 rows x 50 columns]

A opção precision nos permite alterar as casas decimais de precisão de nossos números

In [8]:
dados = pd.DataFrame(np.random.randn(5, 5))

In [9]:
dados

              0             1             2             3             4
0  1.6098243142  0.9425184194  0.5697331807 -0.1823504586  0.0081011560
1  0.8863330384  0.0185077068  1.2902246897  0.4035752182 -1.0288151083
2  1.6102594079 -1.7014649351  0.6198962184 -1.1919139771 -2.2947586165
3  1.0506386783 -0.6736485181  0.8658597076  1.0104488684 -0.6490854624
4  1.6693847795 -1.9902633079  0.1962576443 -0.7874569736 -0.9366130807

Vejamos nossa precisão atual

In [10]:
pd.get_option('precision')

10

Alteramos nossa precisão para 10

In [11]:
pd.set_option('precision', 10)

In [12]:
dados

              0             1             2             3             4
0  1.6098243142  0.9425184194  0.5697331807 -0.1823504586  0.0081011560
1  0.8863330384  0.0185077068  1.2902246897  0.4035752182 -1.0288151083
2  1.6102594079 -1.7014649351  0.6198962184 -1.1919139771 -2.2947586165
3  1.0506386783 -0.6736485181  0.8658597076  1.0104488684 -0.6490854624
4  1.6693847795 -1.9902633079  0.1962576443 -0.7874569736 -0.9366130807