# Criando Dados Simulados para Classificação

In [1]:
from sklearn.datasets import make_classification
import pandas as pd

### Criando Dados Simulados

In [8]:
# Criando uma matriz de características simulada e imprime um vetor com 100 amostras
features, output = make_classification(n_samples = 100,
                                       # 10 características
                                       n_features = 10,
                                       # cinco características que na verdade preveem as classes de output
                                       n_informative = 5,
                                       # cinco características que são random e não relacionadas com as classes de output
                                       n_redundant = 5,
                                       # três classes de output
                                       n_classes = 3,
                                       # com 20% das observações na primeira classe, 30% na segunda classe e 50% na terceira.
                                       weights = [.2, .3, .5])

### Visualizando os Dados

In [9]:
pd.DataFrame(features).head()

,0,1,2,3,4,5,6,7,8,9
0,0.471275,0.355218,0.594635,0.662250,1.134752,-1.688078,0.281323,0.654568,1.189429,-0.640459
1,-2.225249,-2.416639,0.371702,-0.820780,0.952928,1.993266,-1.749229,-1.616609,0.421212,-1.368299
2,-0.842707,-0.235480,2.278515,-0.083121,0.078810,-0.144287,-0.756535,-1.035828,0.736677,1.086377
3,3.948640,-2.833704,-1.639072,-5.372478,2.481711,2.779884,-3.035614,1.930955,-7.305742,1.128103
4,1.013594,0.229470,0.133786,-0.933721,-0.458181,0.667526,-1.164206,-0.636260,-1.423488,0.799139

In [10]:
pd.DataFrame(output).head()

   0
0  2
1  1
2  1
3  1
4  2